/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";

$default_font_color: #828282;
$default_bg_color: #1E1E1E;
$border_grey: #323232;
$hover_color: #ecebe8;

html, body, header, nav, section, div, ul, li, a, p, h1, h2, h3, h4, button, form, input, strong, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  font: inherit;

  box-sizing: border-box;
  background: transparent;
}

html, body, #app {
  height: 100%;
}

header {
  width: 100%;
  height: 46px;
  background: #333;
  position: fixed;
  z-index: 10;
}

body {
  background: $default_bg_color;
  letter-spacing: .3px;
  font-family: "Roboto","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: $default_font_color;
  font-weight: 300;
  letter-spacing: 0.4px;
}

ul {
  list-style: none;
}

input, textarea {
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.clear-fix {
  content: "";
  display: block;
  clear: both;
}

#app {
  padding: 20px 0;
}

#app-wrapper {
  position: relative;
  height: 100%;
}

.row {
  margin: 0;
}

.pane {
  height: 100%;
  padding: 20px;
  border: 1px solid $border_grey;
  border-left: none;
  float: left;

  form {
    border-bottom: 1px solid #828282;
    padding-bottom: 10px;
    margin-bottom: 30px;

    input {
      width: 80%;
      margin-right: 12px;
    }

    button:hover {
      color: $hover_color;
      cursor: default;
    }
  }
}

#nav {
  background: $default_bg_color;
  width: 170px;
}

#index {
  background: $default_bg_color;
  width: 250px;
}

#editor {
  background: #131313;
  float: none;
  overflow:auto;
  padding: 0;
  position: relative;

  #editor-helper {
    background: $default_bg_color;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid $border_grey;
    border-width: 1px 0 1px 0;

    form {
      border-bottom: 1px solid #828282;
      padding-bottom: 10px;
      margin: 0;

      label {
        width: 100%;
      }

      input {
        width: 100%;
      }

      button:hover {
        color: $hover_color;
        cursor: default;
      }
    }

    .glyphicon-remove {
      float: right;
      font-size: 24px;
    }
  }
}

@import "menu";
@import "graph";
