
@mixin translateY($dist) {
  -ms-transform:translateY($dist);
	-moz-transform:translateY($dist);
	-webkit-transform:translateY($dist);
	-o-transform:translateY($dist);
  transform: translateY($dist)
}
